// Specific CSS for your home-page

.container-fluid {
  width: fit-content;
  overflow: none;
}


.centered {
  text-align: center;
}

.main-subtitle {
  font-size: 5.7vw;
  color: $dark-gray;
  font-weight: 700;
  // text-align: left;
  line-height: 102%;
}

.secondary-subtitle {
  font-size: 4vw;
  color: $red;
  font-weight: 700;
  // text-align: left;
  line-height: 102%;
}

// .main-text {
//   color: $dark-gray;
//   font-size: 2.5vw;
//   // text-align: left;
//   line-height: 122%;
//   font-weight: 400;
// }

.main-text {
  font-size: 2.1vw;
  opacity: .7;
  margin: 0;
  font-weight: 300;
  color: $dark-gray;

  @include media-breakpoint-down(md) {
   font-size: 3vw;
  }
  @include media-breakpoint-down(sm) {
    font-size: 3.5vw;
  }
}

.main-text-bold {
  color: $dark-gray;
  font-size: 2.5vw;
  // text-align: left;
  line-height: 122%;
  font-weight: 700;
  @include media-breakpoint-down(md) {
   font-size: 3vw;
  }
  @include media-breakpoint-down(sm) {
    font-size: 3.5vw;
  }
}

.main-text-white {
  color: $white;
  font-size: 2.5vw;
  // text-align: left;
  line-height: 122%;
  font-weight: 400;
  @include media-breakpoint-down(md) {
   font-size: 3vw;
  }
  @include media-breakpoint-down(sm) {
    font-size: 3.5vw;
  }
}

.main-text-white-bold {
  color: $white;
  font-size: 2.5vw;
  // text-align: left;
  line-height: 122%;
  font-weight: 700;

  @include media-breakpoint-down(md) {
   font-size: 3vw;
  }
  @include media-breakpoint-down(sm) {
    font-size: 3.5vw;
  }
}

.main-text-red-bold {
  color: $red;
  font-size: 2.5vw;
  // text-align: left;
  line-height: 122%;
  font-weight: 700;
  @include media-breakpoint-down(md) {
   font-size: 3vw;
  }
  @include media-breakpoint-down(sm) {
    font-size: 3.5vw;
  }
}



.small-text {
  color: $dark-gray;
  font-size: 1.5vw;
  // text-align: left;
  font-weight: 300;

  @include media-breakpoint-down(md) {
   font-size: 2.1vw;
  }
  @include media-breakpoint-down(sm) {
    font-size: 2.5vw;
  }
}


//ABOUT

.about {
  margin-top: 9vh;
  margin-bottom: 3vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.questions {
  height: 70vh;
}

#questions {
  list-style-type: square;
  list-style-position: inside;
  margin: 0;
  margin-top: 10vh;
  padding: 0;
  line-height: 122%;

}

#questions > li{
  margin-top: 2.1em;
  margin-bottom: 1em;
}


// CONTACT

.contact {
  text-align: center;
  min-height: fit-content;
  padding: 10vh 10vw
}

.button-contact {
  width: fit-content;
  margin-bottom: 5vh;
  font-weight: 400;
  font-size: 3vw;
}

#button-contact {
  display: flex;
  justify-content: center;
  border-color: $white;
  width: fit-content;
}

.button-contact :hover {
    color: $white;
    font-weight: bold;
  }

.button-contact :active {
    color: $white;
    font-weight: bold;
  }

#submit-btn {
  font-weight: bold;
  font-size: 1.5vw;
}

.button-contact a :hover :active{
  // background-color: $white;
  color: $white;
  font-weight: 700;

}

.main-container {
  margin: 5vw 7vh;
}


// RECENT WORK

.recent-work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4vw 7vh;
}

@media (max-width: 768px) {
    .recent-work {
      grid-template-columns: 1fr 1fr ;
    }
  }

  @media (max-width: 500px) {
    .recent-work {
      grid-template-columns: 1fr;
    }
  }

.card-work {
  overflow: hidden;
  height: 65vh;
  background: #fcf1f0;
  text-align: center;
}

.card-work > img {
  height: 50vh;
  width: 90%;
  padding: 1vh;
}

.card-work-infos {
  padding: 16px;
  height: 15vh;
  background: $white;
  text-align: left;
  display: block;
}

.card-work-infos h2 {
  font-size: 2.1vw;
  font-weight: 700;
  margin-bottom: 0.5vw;
  color: $dark-gray;
}

.card-work-infos p {
  font-size: 2.1vw;
  opacity: .7;
  margin: 0;
  font-weight: 300;
  color: $dark-gray;
}


//SERVICES

.services {
  margin-top: 57px;
  min-height: 200px;
}

.divider {
  border: $gray 4px solid;
  width: 100%;
}

.my-modal {
  color: $red;
  font-size: 2.5vw;
  text-align: left;
  line-height: 122%;
  font-weight: 400;
}


//TEAM

.founder {
  margin-top: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.founder p {
  margin-left: 7vw;
}

.founder img {

}
