<div class="footer">
  <div class="footer-copyright">
    This footer is artfully made with <i class="fas fa-heart"></i> by invent@ Ltd, Incorporated in England and Wales (Co. Reg. 12205690)
  </div>

  <div class="footer-links">

    <div><a href="https://www.linkedin.com/in/aliciangomo/"><i class="fab fa-linkedin"></i></a></div>
    <div><a href="https://twitter.com/AliciaNgomo"><i class="fab fa-twitter"></i></a></div>
  </div>
</div>
