<div class="modal fade" id="aliciaart-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title show-modal" id="exampleModalLabel">Alicia Art</h4>
        <button type="button" class="close close-button close-btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

          <div class="show-container">
            <div class="image-holder">
              <%= image_tag("Alicia-art4.png") %>
              <%= image_tag("Alicia-art2.png") %>
              <%= image_tag("Alicia-art3.png") %>
              <%= image_tag("Alicia-art.png") %>
            </div>
            <div class="information">
              <p class="very-small-text-bold">What we did</p>
              <p class="very-small-text">Designed and developed an artist porfolio website with simple shopping cart functionality powered by Stripe as well as mailer to contact and be contacted by customers.</p>
              <p class="very-small-text-bold">How we did it</p>
              <ul id="how">
                <li class="very-small-text">Prepared a Figma design of the website to agree on colours, imaginery etc </li>
                <li class="very-small-text">Developed the website in one week following design sprints and agile methodology</li>
              </ul>
              <p class="very-small-text-bold">Visit the website at:</p>
              <p class="very-small-text">https://aliciangomo-art2.herokuapp.com/</p>
            </div>
          </div>

      </div>

    </div>
  </div>
</div>

