.dashboardbanner {
  background-size: 100%;
  background-image: url("banner3.jpg");
  background-repeat: no-repeat;
  background-position: top;
  height: 60vh;
  overflow: visible;
  // position: relative;
}

.container-text {
  padding: 3vh 1vw 3vh 3vw;
  // position: absolute;
  // bottom: -25vh;
  width: 100%;
  background-color: $light-gray;
  margin-bottom: 7vh;
}

.wrapper {
  background-size: 100%;
  background-color: $red;
  height: fit-content;
}

