.navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 70;
}

.navbar-lewagon {
  justify-content: space-between;
  background: $white;
  border-bottom: 2px solid $red;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
}

.anchor {
    position: relative;
    top: -70px;
}
