.main-text {
  font-size: 1rem;
  line-height: 1.6em;
  color: $black;
}

.main-subtitle {
  font-size: 1.5rem;
  line-height: 1.6em;
  color: $red;
  font-weight: bolder;
}

.comment {
  font-size: 0.8rem;
  line-height: 1.6em;
  color: $gray;
}
